<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inline my-2 my-lg-0">
    <%= f.text_field :title, placeholder: "Add a new todo", class: "form-control mr-sm-2" %>
    <%= f.submit "Add", class: "btn btn-success"%>
    
  </div>
  <!--div class="field">
    <%#= f.label :title %>
    <%#= f.text_area :title %>
  </div>

  <div class="field">
    <%#= f.label :completed %>
    <%#= f.check_box :completed %>
  </div>

  <div class="actions">
    <%#= f.submit %>
  </div-->
<% end %>
